.whole {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: verdana;
  margin-bottom: 300px;
}

h1 {
  text-align: center;
  font-size: 4em;
  color: #003300;
}

h2 {
  color: #669966;
  border-bottom: 4px;
  border-bottom-color: #003300;
  border-bottom-style: ridge;
}

.text {
  color: #003300;
  font-size: 1em;
  line-height: 1.6;
}

.titlecolor {
  color: #669966;
  border-bottom: 2px;
  border-bottom-color: #003300;
  border-bottom-style: ridge;
  padding-bottom: 4px;
}

.letter {
  font-size: 2em;
  letter-spacing: .2em;
  text-align: justify;
  line-height: 1.5em;
  margin-top: -14px;
  margin-bottom: 50px;
}

.headshot {
  float: left;
  margin-top: 4px;
  padding-right: 1em;
}

.storefront {
  float: left;
  margin-top: 4px;
  padding-right: 1em;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.style {
  font-size: 2em;
  line-height: .6em;
}

.first {
  margin-top: -7px;
}

.last {
  margin-bottom: 100px;
}

.head2 {
  margin-top: 50px;
}

.nav {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 70px;
  word-spacing: 1.5em;
  font-variant: all-small-caps;
}

a {
    color: #669966;
    text-decoration: none;
}

.space {
  word-spacing: 0px;
}

input {
    padding-left: 10px;
    padding-bottom: 200px;
    padding-right: 200px;
    padding-top: 4px;
    font-family: verdana;
    font-size: 1.5em;
}

input:focus,
input:active {
  outline: none;
}

@media screen and (max-device-width: 767px) {
.nav {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 50px;
    word-spacing: 1.5em;
    font-variant: all-small-caps;
    font-size: 1.5em;
}
.titlecolor {
    color: #669966;
    border-bottom: 2px;
    border-bottom-color: #003300;
    border-bottom-style: ridge;
    padding-bottom: 4px;
    font-size: 0.8em;
}
.headshot {
    float: left;
    margin-top: 4px;
    padding-right: 4em;
}
.text {
    color: #003300;
    font-size: 0.6em;
    line-height: 1.5;
}
.storefront {
    float: left;
    margin-top: 4px;
    padding-right: 4em;
}
}
